Task 1 
There are three different tables as given above. Please make three dataframe in python 
and save them as three .csv files. From Task 2 to Task 10, use the saved .csv files only.

First, I had created the list of columns to combine them into three different DataFrames:Employee DataFrame,
Project DataFrame,
Seniority DataFrame and save them as csv.

In [2]:
import pandas as pd  # Importing pandas for data manipulation
import numpy as np  # Importing numpy for numerical operations

# Task 1: Create DataFrames and save them as CSV files

# Creating Employee DataFrame
df_employee = pd.DataFrame({
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],  # Employee IDs
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],  # Employee names
    'Gender': ['M', 'F', 'M', 'F', 'F'],  # Gender of employees
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],  # City of employees
    'Age': [25, 27, 29, 31, 30]  # Age of employees
})
df_employee.to_csv("employee_data.csv", index=False)  # Saving Employee DataFrame as CSV
print(df_employee)  # Displaying Employee DataFrame

# Creating Seniority Level DataFrame
df_seniority = pd.DataFrame({
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],  # Employee IDs
    'Designation Level': [2, 2, 3, 2, 3]  # Designation level of employees
})
df_seniority.to_csv("seniority_data.csv", index=False)  # Saving Seniority DataFrame as CSV
print(df_seniority)  # Displaying Seniority DataFrame

# Creating Project DataFrame
df_project = pd.DataFrame({
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],  # Employee IDs
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],  # Project names
    'Cost': [1002000, 2000000, 4500000, 5500000, np.nan, 680000, 400000, 350000, np.nan, 300000, 2000000, 1000000, 3000000, 200000],  # Project costs with some missing values
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']  # Project status
})
df_project.to_csv("project_data.csv", index=False)  # Saving Project DataFrame as CSV
print(df_project)  # Displaying Project DataFrame

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30
     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3
      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

Task 2 
The cost column in the dataframe “Project” has some missing values. Your task is to 
compute these missing values. Replace the missing values by running average. You 
should use the “For” loop for this task.

The "Cost" column in the df_project DataFrame had contained missing values (NaN). I had replaced these missing values with the running average of the previously available values. I had created a copy of the "Cost" column to avoid modifying the original data directly and had used a for loop to iterate through each row. If a value had been missing (NaN), I had replaced it with the running average of previous values using np.nanmean(), while also handling edge cases (e.g., if the first row had been NaN, I had replaced it with 0 or another default value).

In [3]:
# Task 2: Replace the missing values by running average
# Copying cost column to modify it
costs = df_project['Cost'].copy()

# Looping through each row to replace NaN values with the running average
for i in range(len(costs)):
    if pd.isna(costs.iloc[i]):  # Checking if the value is missing
        if i > 0:  # Avoid empty slice issue at index 0
            costs.iloc[i] = np.nanmean(costs[:i])
        else:
            costs.iloc[i] = 0  # If first value is NaN, replace with 0 or another default value

# Updating DataFrame with modified cost values
df_project['Cost'] = costs  

# Saving updated Project DataFrame
df_project.to_csv("project_data.csv", index=False)  

# Displaying updated DataFrame
print(df_project)

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5  3250500.0  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9  2210312.5   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

Task 3 
Split the name column in the Employee dataframe into two new columns “First Name”, and “Last Name” and remove the older “name” column. 

In this task, I had processed the Name column in the df_employee DataFrame to separate first and last names and had converted the Name column to a string type using .astype(str), ensuring consistent processing. I had used .str.split(n=1, expand=True) to separate the first and last names. The parameter n=1 had ensured that only the first space was used for splitting, keeping everything after the first space as the last name. After extracting the first and last names, I had removed the old Name column using drop().

In [4]:
# Task 3: Split 'Name' into 'First Name' and 'Last Name'
df_employee['Name'] = df_employee['Name'].astype(str)  # Ensuring the column is of string type
df_employee[['First Name', 'Last Name']] = df_employee['Name'].str.split(n=1, expand=True)  # Splitting names
df_employee.drop(columns=['Name'], inplace=True)  # Dropping old Name column
df_employee.to_csv("employee_data.csv", index=False)  # Saving updated Employee DataFrame
print(df_employee)  # Displaying updated Employee DataFrame

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

Task 4 
Join all three dataframes in one single dataframe. Name it “Final”

In this task, I had merged multiple DataFrames (df_project, df_employee, and df_seniority) into a single DataFrame for consolidated analysis.
I had merged df_project and df_employee using the .merge() function on the 'ID' column, ensuring that project and employee details were combined based on the matching IDs, and then merged the result with df_seniority. The second .merge() operation had integrated seniority details, again using the 'ID' column as the key. This had resulted in a final dataset that contained project details, employee details, and seniority information in a single DataFrame.The merged DataFrame had been saved as "final.csv" for future use.

In [5]:
# Task 4: Merge all DataFrames
df_final = df_project.merge(df_employee, on='ID').merge(df_seniority, on='ID')  # Merging all DataFrames
df_final.to_csv("final.csv", index=False)  # Saving final merged DataFrame
print(df_final)  # Displaying merged DataFrame

      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John
1   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3250500.0  Finished      F   Madrid   30        Amy
5   A002   Project 6   680000.0    Failed      F   London   27      Alice
6   A005   Project 7   400000.0  Finished      F   Madrid   30        Amy
7   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom
8   A001   Project 9  2210312.5   Ongoing      M    Paris   25       John
9   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom
10  A001  Project 11  2000000.0    Failed      M    Paris   25       John
11  A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy

    Last Name  Designation Level
0       Alter                  2
1   Luxumberg                  2
2   Sabestine                  3
3       Adgra                  2
4       Johny                  3
5   Luxumberg                  2
6       Johny                  3
7   Sabestine                  3
8       Alter                  2
9   Sabestine                  3
10      Alter                  2
11      Adgra                  2
12      Adgra                  2
13      Johny                  3

Task 5 
Add a new bonus column in the Final dataframe. Give a 5% bonus concerning project cost only to employees who have finished the projects. 

In this step, I had added a new column called "Bonus" to reward employees for completed projects. The bonus had been calculated as 5% of the project cost if the project status was "Finished"; otherwise, the bonus remained 0. To achieve this, I had used the .apply() function, which had applied a lambda function to each row of the DataFrame. This lambda function had checked the "Status" column—if the project had been marked as "Finished", it had calculated 5% of the "Cost" value and had rounded it to two decimal places. Otherwise, it had assigned a bonus of 0.

In [6]:
# Task 5: Add bonus column for finished projects
df_final['Bonus'] = df_final.apply(lambda row: round(row['Cost'] * 0.05, 2) if row['Status'] == 'Finished' else 0, axis=1)  # Calculating and rounding bonus
df_final.to_csv("final.csv", index=False)  # Saving updated DataFrame
print(df_final)  # Displaying DataFrame with Bonus column

      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John
1   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3250500.0  Finished      F   Madrid   30        Amy
5   A002   Project 6   680000.0    Failed      F   London   27      Alice
6   A005   Project 7   400000.0  Finished      F   Madrid   30        Amy
7   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom
8   A001   Project 9  2210312.5   Ongoing      M    Paris   25       John
9   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom
10  A001  Project 11  2000000.0    Failed      M    Paris   25       John
11  A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3  162525.0
5   Luxumberg                  2       0.0
6       Johny                  3   20000.0
7   Sabestine                  3       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Alter                  2       0.0
11      Adgra                  2       0.0
12      Adgra                  2  150000.0
13      Johny                  3   10000.0

Task 6 
Demote the designation level by 1, whose projects have status “fail”. Delete the 
employees record whose designation level is above 4. 

In this task, I had updated the designation levels of employees based on project outcomes and had removed ineligible employees from the dataset. First, I had identified employees associated with failed projects and had increased their Designation Level by 1, effectively demoting them. After applying the demotion, I had filtered out employees whose Designation Level exceeded 4, as they were no longer eligible to remain in the dataset. Once the necessary modifications had been made, I had saved the updated DataFrame as final.csv to preserve the changes.

In [7]:
# Task 6: Demote designation level and remove ineligible employees
df_final.loc[df_final['Status'] == 'Failed', 'Designation Level'] += 1  # Demoting employees with failed projects
df_final = df_final[df_final['Designation Level'] <= 4]  # Removing employees with designation level above 4
df_final.to_csv("final.csv", index=False)  # Saving updated DataFrame
print(df_final)  # Displaying updated DataFrame

      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John
1   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3250500.0  Finished      F   Madrid   30        Amy
5   A002   Project 6   680000.0    Failed      F   London   27      Alice
6   A005   Project 7   400000.0  Finished      F   Madrid   30        Amy
7   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom
8   A001   Project 9  2210312.5   Ongoing      M    Paris   25       John
9   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom
10  A001  Project 11  2000000.0    Failed      M    Paris   25       John
11  A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3  162525.0
5   Luxumberg                  3       0.0
6       Johny                  3   20000.0
7   Sabestine                  4       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Alter                  3       0.0
11      Adgra                  2       0.0
12      Adgra                  2  150000.0
13      Johny                  3   10000.0

Task 7 
Add “Mr.” and “Mrs.” to the first name column and drop the gender column.

In this task, I had modified the First Name column by adding appropriate titles based on the employee's gender and had removed the Gender column from the dataset. I had used the .apply() function with a lambda function to check the Gender column, if the employee was male 'M', I had prefixed 'Mr.' to their first name; otherwise, I had prefixed 'Mrs.'. After updating the names, I had dropped the Gender column using .drop() to remove unnecessary data.

In [9]:
# Task 7: Add titles and drop gender
df_final['First Name'] = df_final.apply(lambda row: 'Mr. ' + row['First Name'] if row['Gender'] == 'M' else 'Mrs. ' + row['First Name'], axis=1)  # Adding Mr./Mrs.
df_final.drop(columns=['Gender'], inplace=True)  # Dropping gender column
df_final.to_csv("final.csv", index=False)  # Saving updated DataFrame
print(df_final)  # Displaying updated DataFrame

      ID     Project       Cost    Status     City  Age  First Name  \
0   A001   Project 1  1002000.0  Finished    Paris   25    Mr. John
1   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
2   A003   Project 3  4500000.0  Finished   Berlin   29     Mr. Tom
3   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
4   A005   Project 5  3250500.0  Finished   Madrid   30    Mrs. Amy
5   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice
6   A005   Project 7   400000.0  Finished   Madrid   30    Mrs. Amy
7   A003   Project 8   350000.0    Failed   Berlin   29     Mr. Tom
8   A001   Project 9  2210312.5   Ongoing    Paris   25    Mr. John
9   A003  Project 10   300000.0  Finished   Berlin   29     Mr. Tom
10  A001  Project 11  2000000.0    Failed    Paris   25    Mr. John
11  A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina
12  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina
13  A005  Project 14   200000.0  Finished   Madrid   30    Mrs. Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3  162525.0
5   Luxumberg                  3       0.0
6       Johny                  3   20000.0
7   Sabestine                  4       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Alter                  3       0.0
11      Adgra                  2       0.0
12      Adgra                  2  150000.0
13      Johny                  3   10000.0

Task 8 
Promote designation level by 1 for the employees whose age is more than 29 years using 
IF condition.

In this task, I had promoted employees who were older than 29 years by decreasing their Designation Level by 1. Since a lower designation level indicates a higher rank, this adjustment had effectively promoted eligible employees. To ensure that no employee's Designation Level went below 1 (the highest rank), I had added a condition to reset any values below 1 back to 1. After making these updates, I had saved the modified DataFrame as final.csv to preserve the changes.

In [10]:
# Task 8: Promote employees older than 29
df_final.loc[df_final['Age'] > 29, 'Designation Level'] -= 1  # Promoting employees by reducing designation level
df_final.loc[df_final['Designation Level'] < 1, 'Designation Level'] = 1  # Ensuring no level goes below 1
df_final.to_csv("final.csv", index=False)  # Saving updated DataFrame
print(df_final)  # Displaying updated DataFrame

      ID     Project       Cost    Status     City  Age  First Name  \
0   A001   Project 1  1002000.0  Finished    Paris   25    Mr. John
1   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
2   A003   Project 3  4500000.0  Finished   Berlin   29     Mr. Tom
3   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
4   A005   Project 5  3250500.0  Finished   Madrid   30    Mrs. Amy
5   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice
6   A005   Project 7   400000.0  Finished   Madrid   30    Mrs. Amy
7   A003   Project 8   350000.0    Failed   Berlin   29     Mr. Tom
8   A001   Project 9  2210312.5   Ongoing    Paris   25    Mr. John
9   A003  Project 10   300000.0  Finished   Berlin   29     Mr. Tom
10  A001  Project 11  2000000.0    Failed    Paris   25    Mr. John
11  A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina
12  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina
13  A005  Project 14   200000.0  Finished   Madrid   30    Mrs. Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  1       0.0
4       Johny                  2  162525.0
5   Luxumberg                  3       0.0
6       Johny                  2   20000.0
7   Sabestine                  4       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Alter                  3       0.0
11      Adgra                  1       0.0
12      Adgra                  1  150000.0
13      Johny                  2   10000.0

Task 9 
Add the cost of all projects for each Employee and save it in new dataframe 
“TotalProjCost” with three columns ID, First Name, and Total cost 

In this task, I had calculated the total project cost per employee by summing up the costs of all projects associated with each employee. To achieve this, I had used the .groupby() function on the 'ID' and 'First Name' columns to group data by individual employees and had then summed their respective Cost values. After computing the total cost, I had renamed the 'Cost' column to 'Total Cost' for clarity. Once the calculations had been completed, I had saved the updated DataFrame as 'totalproject_cost.csv' to store the results.

In [11]:
# Task 9: Compute total project cost per employee
df_total_cost = df_final.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()  # Summing costs per employee
df_total_cost.rename(columns={'Cost': 'Total Cost'}, inplace=True)  # Renaming column
df_total_cost.to_csv("totalproject_cost.csv", index=False)  # Saving total cost DataFrame
print(df_total_cost)  # Displaying total project cost DataFrame

     ID  First Name  Total Cost
0  A001    Mr. John   5212312.5
1  A002  Mrs. Alice   2680000.0
2  A003     Mr. Tom   5150000.0
3  A004   Mrs. Nina   9500000.0
4  A005    Mrs. Amy   3850500.0

Task 10 
Print all the employee details whose city name contains the letter “o” in it.

In this task, I had filtered the employee details to identify those whose city names contained the letter "o" (regardless of case). To achieve this, I had used the .str.contains('o', case=False) function on the "City" column, ensuring that all matches were found in a case-insensitive manner. After filtering, I had removed any duplicate entries using .drop_duplicates(subset=['ID', 'First Name']), ensuring that each employee appeared only once in the final dataset. Finally, I had displayed the filtered list of employees to verify the results.

In [10]:
# Task 10: Filter unique employees in cities with 'o' in their names
employees_in_o_cities = df_final[df_final['City'].str.contains('o', case=False)]  # Filtering employees in cities with 'o'
employees_in_o_cities = employees_in_o_cities.drop_duplicates(subset=['ID', 'First Name'])  # Keeping unique employees only
print(employees_in_o_cities)  # Printing filtered unique employees

     ID    Project       Cost   Status     City  Age  First Name  Last Name  \
1  A002  Project 2  2000000.0  Ongoing   London   27  Mrs. Alice  Luxumberg
3  A004  Project 4  5500000.0  Ongoing  Newyork   31   Mrs. Nina      Adgra

   Designation Level  Bonus
1                  2    0.0
3                  1    0.0